<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<h1 th:text="${title}">Stand-in Title Again</h1>
<form method="post" th:object="${director}">
	<div>
		<label th:for="first_name">First Name</label>
		<input th:field="*{first_name}" />
		<span th:errors="*{first_name}" class="error"></span>
	</div>
	
	<div>
		<label th:for="last_name">Last Name</label>
		<input th:field="*{last_name}" />
		<span th:errors="*{last_name}" class="error"></span>
	</div>
	
	<div>
		<label th:for="bio">Bio</label>
		<input th:field="*{bio}" />
		<span th:errors="*{bio}" class="error"></span>
	</div>
	
	<input type="submit" value="Add Director" /> 

</form>

</body>
</html>